.idea/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Assets for extraction
extract_assets/

# Extraction results
extracted_results/


# env fil
.env

# avaialabale list of languages
tesseract_languages.txt

# status file description
status.txt


