.idea/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Assets for extraction
pdf_appRecognizer/extract_assets/

# Extraction results
pdf_appRecognizer/extracted_results/


# env fil
.env

# avaialabale list of languages
tesseract_languages.txt

# status file description
status.txt

# log data file
data.log

# for testing regulars
pdf_appRecognizer/regular_testing.py

# results
result.txt
